@{
    Layout = "_Layout.cshtml";
}

<div class="navbar-collapse collapse">
    @RenderSection("scripts", required: false)
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Add Braids", "Index", "Styles")</li>
        <li>@Html.ActionLink("Create Braider Account", "RegisterBraider", "Account")</li>
        <li>@Html.ActionLink("Discount", "Create", "Discounts")</li>
        <li>@Html.ActionLink("View Appointments", "Index", "APPOINTMENTs")</li>
    </ul>
</div>

<div class=" content">
    @RenderBody()
</div>