@model FinalProjectv3.Models.HAIR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HAIR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleHair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleHair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT.TitleProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.TitleProd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDHair }) |
    @Html.ActionLink("Back to List", "Index")
</p>
