

@model FinalProjectv3.Models.APPOINTMENT

@{
    ViewBag.Title = "CreateClientAppoint";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>Schedule an appointment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>APPOINTMENT</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <!--@Html.ValidationSummary(true, "", new { @class = "text-danger" })-->
    <!--@Html.HiddenFor(model => model.IDClientAppoint)-->
    <!--
    <div class="form-group">
        @Html.LabelFor(model => model.IDClientAppoint, "IDClientAppoint", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDClientAppoint", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDClientAppoint, "", new { @class = "text-danger" })
        </div>
    </div>
    -->


    <div class="form-group">
        @Html.LabelFor(model => model.IDStypeAppoint, "Style:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDStypeAppoint", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDStypeAppoint, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateAppoint, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateAppoint, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateAppoint, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AddTakeOffAppoint, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.AddTakeOffAppoint)
                @Html.ValidationMessageFor(model => model.AddTakeOffAppoint, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <!--
    <div class="form-group">
        @Html.LabelFor(model => model.BeginnTimeAppoint, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BeginnTimeAppoint, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BeginnTimeAppoint, "", new { @class = "text-danger" })
        </div>
    </div>

        -->

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
