


@model IEnumerable<FinalProjectv3.Models.STYLE>

@{
    ViewBag.Title = "HairStyle";
}

<h2>We provide different type of style</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DesigStyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HairProvStyle)
        </th>
        <!--<th>-->
        <!--    @Html.DisplayNameFor(model => model.PriceStyle)-->
        <!--</th>-->
        <!--<th>-->
        <!--   @Html.DisplayNameFor(model => model.PriceExtrat)-->
        <!--</th>-->
        <th>
            @Html.DisplayNameFor(model => model.DescriptStyle)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.PictureStyle)
        </th>
         -->
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesigStyle)
            </td>
            <td>
               @if((bool)item.HairProvStyle)
               {
                   <div> Yes</div>
               }
               else
               {<div> No</div>}
            </td>
            <!--<td>-->
            <!--    @Html.DisplayFor(modelItem => item.PriceStyle)-->
            <!--</td>-->
            <!--<td>-->
            <!--    @Html.DisplayFor(modelItem => item.PriceExtrat)-->
            <!--</td>-->
            <td>
                @Html.DisplayFor(modelItem => item.DescriptStyle)
            </td>

            <td>
                <img src="@Url.Content(item.PictureStyle)" alt="Image" height="50" width="50" />
            </td>

            <td>
                <!--@Html.ActionLink("See price", "PricingPerStyle", new { id = item.IDStyle })-->
                <!--@Html.ActionLink("Details", "Details", new { id = item.IDStyle }) |-->
                <!--@Html.ActionLink("Delete", "Delete", new { id = item.IDStyle })-->
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Schedule appointment", "CreateClientAppoint", "Appointments")
</p>

<p>
    @Html.ActionLink("See all prices", "Pricing", "Styles")
</p>

<!--
<p>
    @Html.ActionLink("See my Appointment", "DetailClientAppoint", "Appointments")
</p>
-->