@model IEnumerable<FinalProjectv3.Models.STYLE>

@{
    ViewBag.Title = "SelectStyles";
    Layout = "~/Views/Shared/_BraiderLayout.cshtml";
}

<h2>Select Styles</h2>

<p>
    Please check the styles that you
    feel that you are capable of doing
</p>
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesigStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureStyle)
            </th>
            <th>
                Can you do this style?
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DesigStyle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptStyle)
                </td>
                <td>
                    <img src="@Url.Content(item.PictureStyle)" alt="Image" height="50" width="50" />
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.isSkill)
                    @Html.HiddenFor(model => item.IDStyle)
                </td>
            </tr>
        }

    </table>
    <input type="submit" value="Submit" />
}
