@model IEnumerable<FinalProjectv3.Models.STYLE>

@{
    ViewBag.Title = "SelectStyles";
}

<h2>Select Styles</h2>

<p>
    Please check the styles that you
    feel that you are capable of doing
</p>
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesigStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptStyle)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.PictureStyle)
                </th>
            <th>
                Can you do this style?
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DesigStyle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptStyle)
                </td>
                <td>
                    @{string stylePath = item.PictureStyle; }
                    <img src=stylePath style="width:50%">
                </td>
                <td>
                    @Html.CheckBox("isSkill")
                    @Html.HiddenFor(model => item.IDStyle)
                </td>
            </tr>
        }

    </table>
    <input type="submit" value="Submit" />
}
